<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gomoku Bot Tournament</title>
</head>
<body>
    <li>{{match.tournament.name}} Tournament</li>
    <li>Player O: {{match.player_one.class_name}}</li>
    <li>Player X: {{match.player_two.class_name}}</li>
    <li>Current winner: {{match.current_winner}}</li>
    <br/>
    <li>Logs:</li>
    {% for log in match.logs %}
        <li><a href="match_log?id={{log.id}}">
            {{log.timestamp}}</a> winner is {{log.winner}}
        </li>
    {% endfor %}
</body>
</html>
